DATABASE_URL=postgres://postgres:password@localhost:5432/mn10
NODE_ENV="development"

#if debug mode, show verbose error logs (dev mode)
DEBUG_MODE=1

# GitHub OAuth App credentials
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Base URL of this server (used as OAuth callback base)
BASE_URL=http://localhost:8080

# Where to redirect after successful login
AFTER_AUTH_REDIRECT_URL=http://localhost:5173

#for tests (optional)
#needs PAT token of a dummy user & org they have access as member to details (only reads, no changes)
GH_PAT_TOKEN=
GH_OWNER=
GH_REPO=
GH_ORG=
